
.animation {
    animation: thankYou;
    animation-iteration-count: initial;
    animation-direction: alternate;
    animation-duration: 2s;
  }
  
  @keyframes thankYou {
      from {opacity: 0.2;}
      to {opacity: 1;}
  }