.headerCover {
    position: relative;
    background-image: url("../../../../../public/assets/images/marketplace/marketplaceHeader.png");
    background-position: center;
    background-size: cover;
}

.headerCover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.headerCover>* {
    position: relative;
    /* Ensure children are positioned relatively */
    z-index: 1;
    /* Set a z-index higher than the overlay */
}