.bgCover {
    position: relative;
    background-image: url("../../../../public/assets/images/homepage/welcomeAboard/welcomeImg.jpeg");
    background-position: center;
    background-size: cover;
    /* border-radius: 32px; */

}

.bgCover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(15, 8, 38, 0.96), rgba(56, 31, 140, 0.53));
    /* border-radius: 32px; */
    z-index: 0;
    /* Set a z-index to ensure it stays below children */
}

.bgCover>* {
    position: relative;
    /* Ensure children are positioned relatively */
    z-index: 1;
    /* Set a z-index higher than the overlay */
}

@media screen and (min-width: 1024px) {
    .bgCover {

        border-radius: 32px;

    }

    .bgCover::after {
        border-radius: 32px;
    }

}