@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.phone-input input:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}