@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Custom styles */
.phone-input input:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* WebKit-based browsers */
}

.small-scrollbar::-webkit-scrollbar {
  width: 2px; /* Adjust the width as needed */
}

.small-scrollbar::-webkit-scrollbar-thumb {
  background: transparent; /* Customize the color */
  border-radius: 10px;
}

.small-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Customize the track color */
}

.small-scrollbar::-webkit-scrollbar-button {
  display: none; /* Remove the buttons */
}

/* Firefox */
.small-scrollbar {
  scrollbar-width: thin; /* Set scrollbar width for Firefox */
}

.clip-triangle {
  clip-path: polygon(100% 0, 100% 100%, 0 0);
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-input-default-style {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

@layer base {
  @font-face {
    font-family: Clash;
    src: url("/fonts/ClashDisplayRegular.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: ClashMedium;
    src: url("/fonts/ClashDisplayMedium.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: ClashSemiBold;
    src: url("/fonts/ClashDisplaySemibold.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: ClashBold;
    src: url("/fonts/ClashDisplayBold.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: Satoshi;
    src: url("/fonts/SatoshiRegular.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: SatoshiMedium;
    src: url("/fonts/SatoshiMedium.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
  }
  @font-face {
    font-family: Satoshi;
    src: url("/fonts/SatoshiRegular.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: SatoshiBold;
    src: url("/fonts/Satoshi-Bold.otf") format("otf");
    font-display: swap;
    font-style: normal;
  }
}

body {
  @apply font-satoshi text-dark;
}

.no-AiScroll {
  overflow: hidden;
}
