p,
h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
}

/* custom.css */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* WebKit-based browsers */
}

html {
  font-size: 16px;
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}
